# Jupyter checkpoints
.ipynb_checkpoints/mask_detection_pytorch-checkpoint.ipynb

# Local wheels beacuse it is too large for GitHub
wheels/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment
.env
venv/
env/